{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <td>№</td>
            <td>Дата</td>
            <td>Пользователь</td>
            <td>Тип</td>
            <td>Статус</td>
            <td>Сообщение</td>
            {% if current_user.role == 1 or current_user.role == 2 %}
            <td>Действия</td>
            {% endif %}
          </tr>
    </thead>
    <tbody>
    {% for appeals in appeal_list %}
    <tr>
      <td>{{appeals.id}}</td>
      <td>{{appeals.date}}</td>
      <td>{{user.query.filter_by(id = appeals.user).first().user_fio}}</td>
      <td>{{type_appeal.query.filter_by(id = appeals.type_appeal).first().type_appeal}}</td>
      <td>{{appeal_status.query.filter_by(id = appeals.status_appeal).first().status_appeal}}</td>
      <td>{{appeals.message_appeal}}</td>
      {% if current_user.role == 1 %}
        <td>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="{{ url_for('main.set', id = appeals.id)}}">Редактировать</a>
          <a class="dropdown-item" href="{{ url_for('main.delete', id = appeals.id)}}">Удалить</a>
        </div>
      </div>
   </td>
    {% endif %}
    {% if current_user.role == 2 %}
        <td>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="{{ url_for('main.set', id = appeals.id)}}">Редактировать</a>
        </div>
      </div>
   </td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if current_user.is_authenticated %}
  <p><a href="{{ url_for('main.add_appeal')}}"><button type="button" class="btn btn-success">Добавить обращение</button></a hr></p>
  {% else %}
  <p><a href="{{ url_for('auth.login')}}"><button type="button" class="btn btn-success">Добавить обращение</button></a hr></p>
  {% endif %}
{% endblock %}